.center {
    display: grid;
    justify-content: center; 
}

.main {
    display: grid;
}

.logo {
    padding-top: 170px;
}

.search-box {
    padding-top: 30px;
}

.buttons {
    padding-top: 20px;
}

#search {
    width: 500px;
    height: 50px;
}