body {
    margin: 0;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-rows: 5vh auto 15vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

span li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.main {
    margin: auto;
    margin-top: 19vh;
    display: inline-block;
}

.logo {
    text-align: center;
}

form {
    text-align: center;
}

#search {
    margin-top: 20px;
    margin-bottom: 30px;
    height: 40px;
    width: 470px;
    border-radius: 50px;
    border-color: #ddd;
    border-style: solid;
}

#search:hover {
    box-shadow: 0 0 8px rgb(212, 212, 212);
    border: #ddd;
}

#search:focus {
    outline: none;
    box-shadow: 0 0 8px rgb(212, 212, 212);
    border: #ddd;
}

.footer {
    background-color: #ddd;
}

.footer h4 {
    padding: 14px 16px;
}